/* Общие стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
}

li {
    list-style: none;
}

/* Стили для формы поиска и результатов */
.search-container, .results-container {
    margin: 2rem auto;
    padding: 2rem;
    width: 80%;
    max-width: 800px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

button[type="submit"], .submit {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

button[type="submit"]:hover {
    background-color: #555;
}

section{
    width: 80%;
    margin: 0 auto;
}


.menu{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    font-weight: 700;
}

.word-comments-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.word-comments-container h3 {
    margin-bottom: 1rem;
}

.comment-item {
    list-style: none;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-author {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.comment-message {
    margin-bottom: 0;
}

/* Общие стили для контейнеров с формами и комментариями */
.add-comment-container, .word-comments-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-comment-container h3, .word-comments-container h3 {
    margin-bottom: 1rem;
}

/* Стили для формы добавления комментария */
.add-comment-container form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.add-comment-container input[type="text"], .add-comment-container textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.add-comment-container button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

.add-comment-container button[type="submit"]:hover {
    background-color: #555;
}
.link{
    color: blue;
}

.dictionary-type-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dictionary-type-container h1 {
    margin-bottom: 1rem;
}

.create-dictionary-type {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
    text-decoration: none;
}

.create-dictionary-type:hover {
    background-color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

table th {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.detail-link, .edit-link, .delete-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 5px;
}

.detail-link:hover, .edit-link:hover {
    background-color: #555;
}

.delete-button {
    background-color: #c0392b;
}

.delete-button:hover {
    background-color: #e74c3c;
}
h3{
    text-align: center;
}

.add-word-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-word-container h1 {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type="text"], textarea, select {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

button[type="submit"]:hover {
    background-color: #555;
}
.words-container {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.add-word-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
    text-decoration: none;
}

.add-word-button:hover {
    background-color: #555;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.pagination li a {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    border: 1px solid #333;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
}

.pagination li a.active {
    background-color: #333;
    color: #fff;
}

.pagination li a:hover {
    background-color: #555;
    color: #fff;
}