<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Comment</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Comment Details</h1>
<h3 th:if="${message!=null}" th:text="${message}">Message</h3>
<table>
        <tr>
        <th>authorName:</th>
                <td th:text="${entity.authorName}"></td>
            </tr>
        <tr>
        <th>message:</th>
                <td th:text="${entity.message}"></td>
            </tr>
        <tr>
        <th>word:</th>
                <td th:text="${entity.word}"></td>
            </tr>
    

</table>
<br>
<a th:href="@{/comment}">Back to the List</a>
<a th:href="@{/comment/edit/{id}(id=${entity.id})}">Edit</a>
<form th:if="${entity.id!=null}" method="get"
         th:action="'/comment/'
               + ${entity.id} + '/delete'">
    <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
</form>
</body>
</html>
