<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Comment</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>List of Comment</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<a th:href="@{/comment/edit}">Create new Comment</a>
<table>
    <thead>
    <tr>
        <th>authorName</th>
        <th>message</th>
        <th>word</th>

        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="entity : ${list}">
                                    <td th:text=${entity.authorName}></td>
                                            <td th:text=${entity.message}></td>
                                            <td th:text=${entity.word}></td>
                
        <td>
            <a th:href="@{/comment/{id}(id=${entity.id})}">See detail</a>
            <a th:href="@{/comment/edit/{id}(id=${entity.id})}">Edit</a>
            <form th:if="${entity.id!=null}" method="get"
                  th:action="'/comment/'
                  +${entity.id}+'/delete'">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
