<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Тип словарей</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{commons :: header}"></div>
<div class="dictionary-type-container">
    <h1>Список типов словарей</h1>
    <h3 th:if="${message != null}" th:text="${message}">Message</h3>
    <a class="create-dictionary-type" th:href="@{/dictionarytype/edit}">Создать новый тип</a>
    <table>
        <thead>
        <tr>
            <th>Название</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entity : ${list}">
            <td th:text=${entity.name}></td>
            <td style="display: flex">
                <a class="edit-link" th:href="@{/dictionarytype/edit/{id}(id=${entity.id})}">Редактировать</a>
                <form th:if="${entity.id!=null}" method="get"
                      th:action="'/dictionarytype/'
                          +${entity.id}+'/delete'">
                    <input class="delete-button" type="submit" value="Удалить" onclick="return confirm('Вы уверены?')">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{commons :: footer}"></div>
</body>
</html>
