<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Dictionary</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>List of Dictionary</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<a th:href="@{/dictionary/edit}">Create new Dictionary</a>
<table>
    <thead>
    <tr>
        <th>dictionaryType</th>
        <th>words</th>

        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="entity : ${list}">
                                    <td th:text=${entity.dictionaryType}></td>
                                            <td>
                    <ul>
                        <li th:each="words_item : ${entity.words}" th:text="${words_item}"></li>
                    </ul>
                </td>
                
        <td>
            <a th:href="@{/dictionary/{id}(id=${entity.id})}">See detail</a>
            <a th:href="@{/dictionary/edit/{id}(id=${entity.id})}">Edit</a>
            <form th:if="${entity.id!=null}" method="get"
                  th:action="'/dictionary/'
                  +${entity.id}+'/delete'">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
