<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Описание слова</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{commons :: header}"></div>

<section class="word-description-container">
    <h2 th:text="${entity.name}">Слово</h2>
    <h4 th:text="'Тип словаря: '+${entity.dictionaryType.name}">Тип словаря для слова</h4>
    <p th:text="${entity.description}">Описание слова</p>
</section>

<section class="word-comments-container">
    <h3>Комментарии</h3>
    <ul>
        <li th:each="comment : ${entity.comments}" class="comment-item">
            <div class="comment-author" th:text="${comment.authorName}">Имя автора</div>
            <div class="comment-message" th:text="${comment.message}">Комментарий</div>
        </li>
    </ul>
</section>

<section class="add-comment-container word-comments-container">
    <h3>Добавить комментарий</h3>
    <form th:action="'/comment/word/'+${entity.id}" method="post">
        <label for="authorName">Имя автора:</label>
        <input type="text" id="authorName" name="authorName" required>
        <label for="message">Комментарий:</label>
        <textarea id="message" name="message" rows="5" required></textarea>
        <button type="submit">Добавить комментарий</button>
    </form>
</section>

<div th:replace="~{commons :: footer}"></div>
</body>
</html>
