<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список слов</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div th:replace="~{commons :: header}"></div>

<section>
    <div class="words-container">
        <h1>Список слов</h1>
        <a class="add-word-button" th:href="@{/word/edit}" th:if="${#request.userPrincipal != null}">Добавить новое
            слово</a>
        <a class="add-word-button" href="/word/addWords" th:if="${#request.userPrincipal != null}">Добавить список
            слов</a>
        <table>
            <thead>
            <tr>
                <th>Слово</th>
                <th>Описание</th>
                <th>Тип словаря</th>
                <th th:if="${#request.userPrincipal != null}">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entity : ${page.content}">
                <td th:text="${entity.name}"></td>
                <td th:text="${entity.description.length() > 20 ? entity.description.substring(0, 20) + '...' : entity.description}"></td>
                <td th:text="${entity.dictionaryType.name}"></td>
                <td style="display: flex">
                    <a class="detail-link" th:href="@{/word/{id}(id=${entity.id})}">Подробности</a>
                    <a class="edit-link" th:href="@{/word/edit/{id}(id=${entity.id})}" th:if="${#request.userPrincipal != null}">Редактировать</a>
                    <form  th:if="${#request.userPrincipal != null}" method="get"
                          th:action="'/word/'
                          +${entity.id}+'/delete'">
                        <input class="delete-button" type="submit" value="Удалить"
                               onclick="return confirm('Вы уверены?')">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" th:classappend="${page.first ? 'disabled' : ''}">
                    <a class="page-link" th:href="'word?page=0&size='+${page.size}" tabindex="-1">На первую</a>
                </li>
                <li class="page-item" th:classappend="${!page.hasPrevious() ? 'disabled' : ''}">
                    <a class="page-link" th:href="'word?page='+${page.number - 1}+'&size='+${page.size}" tabindex="-1">Предыдущая</a>
                </li>
                <li class="page-item"
                    classappend="active">
                    <a class="page-link" th:href="'word?page='+${page.number}+'&size='+${page.size}"
                       th:text="${page.number + 1}">Page number</a>
                </li>
                <li class="page-item" th:classappend="${!page.hasNext() ? 'disabled' : ''}">
                    <a class="page-link" th:href="'word?page='+${page.number + 1}+'&size='+${page.size}">Следующая</a>
                </li>
                <li class="page-item" th:classappend="${page.last ? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="'word?page='+${page.totalPages - 1}+'&size='+${page.size}">Последняя</a>
                </li>
            </ul>
        </nav>
    </div>
</section>

<div th:replace="~{commons :: footer}"></div>
</body>
</html>
