<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление/Редактирование слова</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{commons :: header}"></div>
<section>
    <div class="add-word-container">
        <h1>Добавление/Редактирование слова</h1>
        <form th:action="@{/word}" th:object="${entity}" method="post">
            <input type="hidden" th:field="*{id}">

            <label for="name">Слово:</label>
            <input type="text" th:field="*{name}" id="name" required>

            <label for="description">Описание:</label>
            <textarea th:field="*{description}" id="description" rows="5" required></textarea>

            <label for="dictionary">Тип словаря:</label>
            <select th:field="*{dictionaryType}" id="dictionary">
                <option th:each="dictionary : ${dictionary_list}"
                        th:value="${dictionary.id}"
                        th:text="${dictionary.name}"></option>
            </select>

            <button type="submit">Сохранить</button>
        </form>
    </div>
</section>
<div th:replace="~{commons :: footer}"></div>
</body>
</html>
